* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #000;*/
	font-family: Ubuntu, Century Gotic, Helvetica, sans-serif;
}

.wrap {
	background: linear-gradient(to bottom, rgb(150, 150, 150), rgb(30, 30, 30)), url('../images/background.jpg') no-repeat;
	/*background-size: cover;*/
	min-height: 100vh;
	padding: 30px;

}

header {
	display: flex;
	/*align-content: ; */

}

h1, h2, p, .poem {
	background-color: #fffd;
	/*background: content;  kako da pozadina prati samo sadrzaj blok elementa, tj da se ne pruza do kraja bloka?	*/
	padding: 5px;

}

h1, h2 {
	text-transform: uppercase;
	margin: 20px;
}

header h2 {
	margin-left: 10px;
	background-color: #eeeb;
	font-style: italic;
	font-size: 90%;
}

p {
	margin: 10px 20px;
	/*margin-left: 20px;*/
	font-variant: small-caps;
}

header h2, nav {
	flex: 1;
}

nav ul {
	background-color: #111a;
	text-align: right;
	margin: 20px;
	margin-right: 10px;
    padding: 5px;
    font-size: 90%;
}


nav li {
	display: inline;
	padding-right: 10px;
	text-transform: uppercase;
}

nav a {
	color: #ccc;
	text-decoration: none;
}

nav a:hover {
	color: #fff;
	text-decoration: underline;
}

nav a:checked {
	color: #aaa;
}

p a {
	padding-left: 10px;
}

.main {
	position: relative;
	top: 40px;
}

 /* //////  PESMA     ////  */

.poem {
	margin: 0 auto;
	width: 200px;
	position: relative;
	left: -270px;
	top: 30px;
	/*background: #eeeb;*/
}