* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #000;*/
	font-family: Ubuntu, "Century Gotic", Helvetica, sans-serif;
}

.wrap {
	background: linear-gradient(to bottom, rgb(150, 150, 150), rgb(30, 30, 30)), url("../img/background.jpg") no-repeat;
	/*background-size: cover;*/
	min-height: 100vh;
	padding: 30px;
}

header {
	display: flex;
	/*align-content: ; */
}

h1, h2, .primeri {
	background-color: #fffd;
	/*background: ;  kako da pozadina prati samo sadrzaj blok elementa, tj da se ne pruza do kraja bloka?	*/
	display: inline-block;  /* ovako! samo moram da prebacim svaki od ovih elemenata u novi red, putem <br> ili da svaki stavim u poseban <div> */
	padding: 5px 3px;

}

h1, h2 {
	text-transform: uppercase;
	margin: 20px;
}

header h2 {
	margin-left: 10px;
	background-color: #eeeb;
	font-style: italic;
	font-size: 90%;
}

.primeri {
	margin: 10px 20px;
	font-variant: small-caps;
}

header h2, nav {
	flex: 1;
}

nav ul {
	background-color: #111a;
	text-align: right;
	margin: 20px;
	margin-right: 10px;
    padding: 5px;
    font-size: 90%;
}


nav li {
	display: inline;
	padding-right: 10px;
	text-transform: uppercase;
}

nav a {
	color: #ccc;
	text-decoration: none;
}

nav a:hover {
	color: #fff;
	text-decoration: underline;
}

nav a:checked {
	color: #aaa;
}

p a {
	padding-left: 10px;
}

.main {
	position: relative;
	top: 40px;
	bottom: 20px;
}

/*.main h1, .main h2, .main p {
	border-radius: 5px;
}*/

 /* //////  PESMA     ////  */

.poem {
	/*margin: 0 auto;*/
	width: 300px;
	/*position: relative;*/
	/*left: -270px;*/
	/*top: 20px;*/
	background: #eeeb;
	padding: 10px 20px;
	line-height: 2;
    margin: 20px 100px 70px;
}


/*//// SLIKA ////*/

.image {
	margin: 20px 150px 70px;
	
	width: 500px;
	/*text-align: center;*/
	
}

img {
	max-width: 100%;
    padding: 20px;
    background: #eeeb;
}

.video {
	margin: 0 auto;
	width: 640px;
}

.audio {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
